.footer {
  bottom: -5dvh;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: #212121;
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding: 2rem;
  font-weight: 400;
  overflow: hidden;
}