.footer {
  bottom: -5dvh;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: #212121;
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding: 2rem;
  font-weight: 400;
  overflow: hidden;
}

.footer .top {
  display: flex;
  justify-content: space-between;
  padding: 6vw 7vw;
}

.footer .top > div {
  width: 28%;
}

.footer .top > div > p:first-child {
  color: var(--main-yellow);
  font-family: "Baskerville";
  font-style: italic;
  font-size: 1.5vw;
  margin-bottom: 8px;
}

.footer .top > div > p:not(:first-child) {
  font-family: "Moderat-Light";
  font-size: 1.4vw;
  margin-bottom: 16px;
  line-height: 1.35rem;
}

.footer .top > div > p:not(:first-child) > span {
  font-family: "Moderat-Med";
}

.footer .middle {
  display: flex;
  justify-content: space-between;
  padding: 0vw 7vw;
  font-family: "Moderat-light";
  font-size: 1.07vw;
  line-height: 1.5;
  width: 100%;
  line-height: 1.3rem;
  margin-top: -36px;
}

.footer .middle a,
.footer .middle span {
  text-decoration: underline;
}

.footer .bottom {
  width: 100vw;
  font-family: "Anton";
  font-weight: 100;
  overflow: hidden;
  white-space: nowrap;
  color: #7a7a7a;
  margin-top: 48px;
}

.footer .bottom p {
  font-size: 11.5vw;
  display: inline-block;
  animation: scrollText 35s infinite linear;
  transform: scale(5);
}

.footer .copyright {
  padding: 0 7vw;
  margin-top: -16px;
  color: #7a7a7a;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 489px) {
  .footer .top {
    flex-wrap: wrap;
    padding: 9vw 8vw;
  }

  .footer .top > div {
    width: 45%;
  }

  .footer .top > div > p:first-child {
    font-size: 3.5vw;
  }

  .footer .top > div > p:not(:first-child) {
    font-size: 3vw;
    line-height: 1.05rem;
  }

  .footer .top > div:last-child {
    margin-top: 24px;
  }

  .footer .middle {
    padding: 0vw 8vw;
    font-size: 2.5vw;
    line-height: 1rem;
    margin-top: 0px;
  }

  .footer .bottom {
    margin-top: -12px;
  }

  .footer .bottom p {
    font-size: 32vw;
  }

  .footer .copyright {
    padding: 0 7vw;
    margin-top: -16px;
    color: #7a7a7a;
    font-size: 3vw;
  }

  .footer .middle a,
  .footer .middle span {
    color: var(--main-white);
  }
}
