.footer {
  position: absolute;
  bottom: -5dvh;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: #212121;
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  padding: 2rem;
  font-weight: 400;
  overflow: hidden;
}

.footer .top {
  display: flex;
  justify-content: space-between;
  padding: 1.5vw 6vw;
}

.footer .top > div {
  width: 28%;
}

.footer .top > div > p:first-child {
  color: var(--main-yellow);
  font-family: 'Baskerville';
  font-style: italic;
  font-size: 1.7vw;
  margin-bottom: 8px;
}

.footer .top > div > p:not(:first-child) {
  font-family: 'Moderat-Light';
  font-size: 1.7vw;
  margin-bottom: 16px;
  line-height: 1.35rem;
}

.footer .middle {
  display: flex;
  justify-content: space-between;
  padding: 2vw 6vw 0 6vw;
  font-family: "Moderat-light";
  font-size: 1.3vw;
  line-height: 1.5;
  width: 100%;
  line-height: 1.3rem;
}

.footer .middle a, .footer .middle span {
  text-decoration: underline;
}

.footer .bottom {
  width: 100vw;
  font-family: "Anton";
  font-weight: 100;
  overflow: hidden;
  white-space: nowrap;
  color: #7A7A7A;
}

.footer .bottom p {
  font-size: 11.5vw;
  display: inline-block;
  animation: scrollText 35s infinite linear;
  transform: scale(5);
}

.footer .copyright {
  padding: 0 6vw;
  margin-top: -24px;
  color: #7A7A7A;
}

@media (min-width: 1024px) {
  .footer {
    background-size: cover;
    background-position-y: 0px !important;
    background-position-x: 0px !important;
  }

  .footer > p:nth-child(3) {
    width: 60%;
    margin: 20px 0 34px 0;
  }
}

@media (min-width: 490px) and (max-width: 1024px) {
  .footer {
    background-size: 101%;
    background-position-y: 0px !important;
    background-position-x: 0px !important;
  }
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
