.header {
  width: 100vw;
  height: 5dvh;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../public/GRADIENTE_AURA.jpeg');
  background-size: 100vw;
  background-position-y: -1350px;
  opacity: 1;
  z-index: 10;
  border: 1px solid var(--main-black);
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1vw;
  z-index: 1000;
  letter-spacing: -1px;
}

.header_links {
  display: flex;
  align-items: center;
  height: 100%;
  border-left: 1px solid var(--main-black);
  border-right: 1px solid var(--main-black);
  margin-left: -4vw;
}

.header button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	outline: inherit;
  font-size: 0.9vw;
  font-family: 'Moderat-Bold';
  letter-spacing: -1px;
}

.header_links > h5 {
  height: 100%;
  padding: 1.3dvh 2rem;
  font-family: 'Moderat-Reg';
}

.header_links > h5:hover {
  cursor: pointer;
}

.header_links > h5:nth-child(2) {
  border-left: 1px solid var(--main-black);
  border-right: 1px solid var(--main-black);
}

.header > a {
  font-size: 0.9vw;
  font-family: 'Moderat-Bold';
}

.header > a:last-child {
  text-align: end;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .header a > h3 {
    margin-right: 10px;
  }
}
