.header {
  width: 100dvw;
  height: fit-content;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(12px);
  opacity: 1;
  z-index: 10;
}

.bso {
  display: flex;
  align-items: center;
}

.bso h3 {
  -webkit-background-clip: text;
	background-clip: text;
	background-image: url('../public/PSICODELICO.jpeg');
  background-position-y: -62px;
  background-position-x: -345px;
	color: transparent;
  margin-right: 12px;
  font-weight: 600;
  margin-top: 0.25px;
  mix-blend-mode: difference;
}
