.header {
  width: 100dvw;
  height: fit-content;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(12px);
  opacity: 1;
  z-index: 10;
}

.bso {
  display: flex;
  align-items: center;
}

.bso img {
  margin-top: 0.5px;
  filter: brightness(100%);
  width: 20px;
  height: 20px;
  transition: filter 0.6s ease-in-out;
}

.bso h3 {
  -webkit-background-clip: text;
	background-clip: text;
	background-image: url('../public/PSICODELICO.jpeg');
  background-position-y: -62px;
  background-position-x: -345px;
	color: transparent;
  margin-right: 12px;
  height: 20px;
  font-weight: 600;
  mix-blend-mode: difference;
  overflow: hidden;
  max-width: 200px;
  transition: margin-right 0.4s ease-out, max-width 0.4s ease-out;
}
