.loadingPage {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingPage div {
  font-family: "Anton";
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 11vw;
  font-weight: 100;
  line-height: 21dvh;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.loadingPage .keywords > p {
    display: none;
}

.loadingPage .years > p {
    display: none;
}

@keyframes appearing {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}