.loadingPage {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingPage div {
  font-family: "Anton";
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 11vw;
  font-weight: 100;
  line-height: 21dvh;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.loadingPage .keywords > p {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70vw;
  height: 70dvh;
  transform: translate(-50%, -50%);
  background-color: var(--main-white);
  vertical-align: middle;
  padding-top: 14dvh;
}

.loadingPage .keywords > p:last-child {
  padding-top: 24.5dvh;
}

.loadingPage .years > p {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70vw;
  transform: translate(-50%, -50%);
  background-color: var(--main-white);
}

@keyframes appearing {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@media (max-width: 489px) {
  .loadingPage div {
    font-family: "Anton";
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 15.5vw;
    line-height: 21dvh;
    letter-spacing: -0.5px;
  }

  .loadingPage .keywords > p:not(:last-child) {
   line-height: 8dvh;
   padding-top: 27dvh;
  }

  .loadingPage .keywords > p:last-child {
    padding-top: 24.5dvh;
  }

  .loadingPage .years > p {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vw;
    transform: translate(-50%, -50%);
    background-color: var(--main-white);
  }
}
