.propuesta_form input {
  all: unset;
  border-radius: 9px;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: 700;
  margin-right: 8px;
  margin-top: 5px;
  background: url("../public/PSICODELICO.jpeg");
  background-position: 0 0;
}

/* CUADRANDO EL FONDO CON LOS BOTONES */

.temas > input:nth-child(2) {
  background-position-x: -101px;
}

.temas > input:nth-child(3) {
  background-position-x: -101px;
  background-position-y: -26px;
}

.temas > input:nth-child(4) {
  background-position-x: -101px;
  background-position-y: -52px;
}

.temas > input:nth-child(5) {
  background-position-x: -283px;
  background-position-y: -52px;
}

.temas > input:nth-child(6) {
  background-position-x: -101px;
  background-position-y: -78px;
}

.temas > input:nth-child(7) {
  background-position-x: -242px;
  background-position-y: -78px;
}

.temas > input:nth-child(8) {
  background-position-x: -101px;
  background-position-y: -104px;
}

.temas > input:nth-child(9) {
  background-position-x: -254px;
  background-position-y: -104px;
}

.temas > input:nth-child(10) {
  background-position-x: -321px;
  background-position-y: -104px;
}

.temas > input:nth-child(11) {
  background-position-x: -101px;
  background-position-y: -130px;
}

.formato > input:nth-child(2) {
  background-position-x: -101px;
  background-position-y: -160px;
}

.formato > input:nth-child(3) {
  background-position-x: -186px;
  background-position-y: -160px;
}

.formato > input:nth-child(4) {
  background-position-x: -325px;
  background-position-y: -160px;
}

.formato > input:nth-child(5) {
  background-position-x: -101px;
  background-position-y: -186px;
}

.formato > input:nth-child(6) {
  background-position-x: -169px;
  background-position-y: -186px;
}

.formato > input:nth-child(7) {
  background-position-x: -262px;
  background-position-y: -186px;
}

.formato > input:nth-child(8) {
  background-position-x: -101px;
  background-position-y: -212px;
}

.formato > input:nth-child(9) {
  background-position-x: -212px;
  background-position-y: -212px;
}

.propuesta_form textarea {
  background: url("../public/PSICODELICO.jpeg");
  background-position-x: -101px;
  background-position-y: -267px;
  border: none;
  resize: none;
  font-family: "Inter";
  font-size: 12px;
  padding: 0.5rem 0.75rem;
  height: 150px;
  outline: none;
  border-radius: 0% !important;
}

.propuesta_form textarea::placeholder, .tu_email input::placeholder {
  color: #282c32;
  font-weight: 500;
  font-size: 12px;
}

.propuesta_form legend {
  margin-bottom: 0.5rem;
}

.propuesta_form fieldset {
  margin-top: 1.5rem;
}

.describe_tu_idea, .tu_email {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.describe_tu_idea label, .tu_email label {
  margin-bottom: 0.5rem;
}

.propuesta_form button {
  margin-top: 1.75rem;
  border: none;
  padding: 8px 20px;
  font-size: 15px;
  width: 45%;
  text-align: center;
  background: transparent;
  font-weight: 400;
  color: #fff;
  background-color: #282c32;
  font-weight: 300;
  font-size: 14px;
}

.tu_email input {
  border-radius: 0px;
  padding: 0rem 0.75rem 0.5rem 0.75rem;
  font-size: 13px;
  font-weight: 300;
  margin-right: 0;
  margin-top: 0;
  background: url("../public/PSICODELICO.jpeg");
  background-position-x: -101px;
  background-position-y: -442px;
  height: 30px;
}

.confetti_div {
  position: absolute;
  top: -250px;
  left: -2rem;
  width: 100vw;
  height: 300px;
}

@media (min-width: 490px) and (max-width: 1024px) {
  .propuesta_form textarea {
    background: url("../public/PSICODELICO.jpeg");
    background-position-x: 0px;
    background-position-y: -267px;
    background-size: 101%;
  }

  .tu_email input {
    background: url("../public/PSICODELICO.jpeg");
    background-size: 101%;
    background-position-x: 0px;
    background-position-y: -442px;
  }
}