.propuesta_form {
  width: 100%;
  height: 100%;
  font-family: "Moderat-Light";
  font-size: 1.7vw;
  font-weight: 100;
  line-height: 1.7;
  letter-spacing: 0.9px;
}

.propuesta_form > form > div {
  line-height: 2.1;
}

.propuesta_form input {
  all: unset;
  padding: 3px 10px;
  font-size: 1.5vw;
  margin-right: 8px;
  border-bottom: 1px solid var(--main-black);
}

.propuesta_form input::placeholder {
  font-family: "Editorial-Light";
  font-style: italic;
  opacity: 0.5;
  font-size: 1.7vw;
  color: var(--main-black);
}

.propuesta_form button {
  margin-top: 1.75rem;
  border: none;
  padding: 8px 20px;
  font-size: 15px;
  width: 100%;
  text-align: center;
  background: transparent;
  font-weight: 400;
  color: #fff;
  background-color: #282c32;
  font-weight: 300;
  font-size: 14px;
  font-family: "Moderat-reg";
  overflow: hidden;
}

.propuesta_form button:hover > p {
  animation: appearing cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
}

@keyframes appearing {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}

.propuesta_form span {
  border: 1px solid var(--main-black);
  border-radius: 25px;
  padding: 2px 12px 3px 12px;
  font-size: 1.5vw;
}

.propuesta_form span:hover {
  cursor: pointer;
  background: #e7e7e7;
}

.form_success {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: -3rem;
  left: -3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
}

.form_success > div {
  transform: translate(0, -40%);
  width: 30vw;
  padding: 3rem;
  background: var(--main-white);
  color: var(--main-black);
  font-size: 1.2vw;
}

.form_success > div > div {
  position: absolute;
  top: 7%;
  right: 4%;
}

.form_success > div > div:hover {
  cursor: pointer;
}

@media (min-width: 490px) and (max-width: 1024px) {
  .propuesta_form textarea {
    background: url("../public/PSICODELICO.jpeg");
    background-position-x: 0px;
    background-position-y: -267px;
    background-size: 101%;
  }

  .tu_email input {
    background: url("../public/PSICODELICO.jpeg");
    background-size: 101%;
    background-position-x: 0px;
    background-position-y: -442px;
  }
}
