@keyframes backgroundMoving {
  0% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
  50% {
    background-position-y: -300px;
    background-position-x: -100px;
  }
  100% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
}

.servicio_div {
  width: calc(100% + 6rem);
  margin-left: -3rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 20px 3rem;
  background-color: var(--main-white);
  overflow: hidden;
}

.servicio_div:hover {
  cursor: pointer;
}

.servicio_title {
  width: 55% !important;
  font-family: "Moderat-Reg";
  font-size: 1.2vw !important;
  font-weight: 100;
  text-transform: uppercase !important;
  opacity: 0.6;
}

.servicio_content {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.servicio_bubles {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 32px;
}

.servicio_bubles button {
  background-color: rgb(219, 219, 219);
  border: none;
  border-radius: 60px;
  height: fit-content;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  animation: backgroundMoving 10s infinite;
  font-size: 1.1vw;
  z-index: 200;
  opacity: 0.7;
  font-family: "Moderat-Reg";
}

.servicio_bubles .button_selected {
  background: url("../public/PSICODELICO.jpeg");
  opacity: 1;
}

.servicio_bubles button:hover {
  cursor: pointer;
}

.servicio_text {
  font-size: 1.6vw;
}

@media (min-width: 768px) {}
