@keyframes backgroundMoving {
  0% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
  50% {
    background-position-y: -300px;
    background-position-x: -100px;
  }
  100% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
}

.servicio_div {
  width: calc(100% + 6rem);
  min-height: 220px;
  margin-left: -3rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  z-index: 1;
}

.servicio_intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  padding: 3rem 3rem;
}

.servicio_intro > div > p {
  font-size: 1.3vw;
  width: 90%;
  margin-top: 32px;
}

.servicio_intro > div > a {
  width: 100%;
}

.servicio_intro button {
  background: url("../public/PSICODELICO.jpeg");
  background-size: 800%;
  border: 1px solid var(--main-black);
  border-radius: 60px;
  height: fit-content;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  animation: backgroundMoving 10s infinite;
  font-size: 1.1vw;
  opacity: 0.9;
  width: fit-content;
  font-family: "Moderat-Reg";
}

.servicio_title {
  width: 100% !important;
  font-family: "Moderat-Reg";
  font-size: 1.2vw !important;
  font-weight: 100;
  text-transform: uppercase !important;
  opacity: 0.6;
}

.servicio_content {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.servicio_text {
  font-size: 1.3vw;
}

.servicio_text > p {
  margin-bottom: 24px;
}

.servicio_text > p:last-child {
  margin-bottom: 0;
}

.servicio_description {
  display: flex;
}

.servicio_description:not(:last-child) {
  border-bottom: 1px solid var(--main-black);
}

.servicio_description > .description_title {
  min-width: 16vw;
  max-width: 16vw;
  padding: 3rem 3rem;
  border-left: 1px solid var(--main-black);
  border-right: 1px solid var(--main-black);
  font-family: "Editorial-light";
  letter-spacing: 0.6px;
  font-size: 1.5vw;
}

.servicio_description > .description_text {
  padding: 3rem 3rem;
  font-size: 1.1vw;
}

@keyframes backgroundMoving {
  0% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
  50% {
    background-position-y: -200px;
    background-position-x: -200px;
  }
  100% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
}

@media (min-width: 768px) {
}
