@keyframes backgroundMoving {
  0% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
  50% {
    background-position-y: -300px;
    background-position-x: -100px;
  }
  100% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
}

.servicio_div {
  width: calc(100% + 6rem);
  min-height: 220px;
  margin-left: -3rem;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid grey;
  z-index: 1;
  padding: 2.5rem 3rem 2.25rem 3rem;
}

.servicio_intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.servicio_intro button {
  background: url("../public/PSICODELICO.jpeg");
  background-size: 800%;
  border: 1px solid var(--main-black);
  border-radius: 60px;
  height: fit-content;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  animation: backgroundMoving 10s infinite;
  font-size: 1.1vw;
  opacity: 0.9;
  width: fit-content;
  font-family: "Moderat-Ext-Reg";
}

.servicio_title {
  width: 100% !important;
  font-family: "Moderat-Light";
  font-size: 1.65vw !important;
  font-weight: 100;
  text-transform: uppercase !important;
}

.servicio_explanation {
  width: 70% !important;
  font-family: "Baskerville-Light";
  font-style: italic;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.35rem;
  font-size: 1.8vw !important;
  margin-top: 0px;
  margin-bottom: 36px;
}

.servicio_explanation a {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}

.servicio_explanation > div {
  margin-bottom: 32px;
  font-size: 1.5vw !important;
  letter-spacing: -0.9px;
}

.servicio_content {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.servicio_description {
  width: 80%;
  font-family: 'Moderat-Light';
  font-size: 1.65vw;
  margin-bottom: 36px;
  line-height: 1.45rem;
}

.servicio_bullet_point {
  width: 80%;
  font-family: 'Moderat-Med';
  font-size: 1.65vw;
  line-height: 1.45rem;
}

.servicio_bullet_point span {
  font-family: 'Moderat-Light';
}

.servicio_bullet_point:not(:last-child) {
  margin-bottom: 24px;
}

@keyframes backgroundMoving {
  0% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
  50% {
    background-position-y: -200px;
    background-position-x: -200px;
  }
  100% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
}

@media (max-width: 489px) {
  .servicio_div {
    margin-left: -1.5rem;
    flex-direction: column;
    border-bottom: 0.5px solid grey;
  }
  
  .servicio_intro {
    width: 100%;
    margin-bottom: 32px;
  }
  
  .servicio_intro button {
    background-size: 1600%;
    padding: 0.5rem 1rem;
    font-size: 2vw;
    color: var(--main-black);
  }
  
  .servicio_title {
    font-size: 3.65vw !important;
  }
  
  .servicio_explanation {
    letter-spacing: -0.75px;
    line-height: 1.05rem;
    font-size: 3.8vw !important;
  }
  
  .servicio_explanation a {
    text-decoration-thickness: 0.75px;
  }
  
  .servicio_explanation > div {
    font-size: 3.5vw !important;
    letter-spacing: -0.7px;
  }
  
  .servicio_description {
    width: 100%;
    font-size: 3.65vw;
    line-height: 1.05rem;
  }
  
  .servicio_bullet_point {
    width: 100%;
    font-size: 3.65vw;
    line-height: 1.05rem;
  }
}
