.inspirate_email input {
  width: 100%;
  border: 0.5px solid #282c32;
  border-radius: 0px;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size: 13px;
  font-weight: 300;
  margin-right: 0;
  margin-top: 1.25rem;
  height: 30px;
}

.inspirate_email input:focus {
  outline: none;
}

.email_error input {
  border-color: red;
  color: red !important;
}

.inspirate_cta_div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.inspirate_cta_div button {
  margin-top: 1rem;
  border: none;
  padding: 8px 10px;
  font-size: 15px;
  width: 49%;
  text-align: center;
  background: transparent;
  font-weight: 400;
  color: #fff;
  background-color: #282c32;
  font-weight: 400;
  font-size: 14px;
}

.inspirate_cta_div button:nth-child(1) {
  width: 35%;
  background: url("../public/PSICODELICO.jpeg");
  background-position-x: -2rem;
  background-position-y: 0;
  color: #282c32;
}

.inspirate_cta_div button:nth-child(2) {
  width: 60%;
  background: url("../public/PSICODELICO.jpeg");
  background-position-x: calc(-140px - 2rem);
  background-position-y: 0;
  color: #282c32;
}

.sobre_mi .inspirate_cta_div button:nth-child(1) {
  width: 34%;
  background: url("../public/GRADIENTE_AURA.jpeg");
  background-position-x: -247px;
  background-position-y: -757px;
  color: #282c32;
}

.sobre_mi .inspirate_cta_div button:nth-child(2) {
  width: 60%;
  background: url("../public/GRADIENTE_AURA.jpeg");
  background-position-x: -409px;
  background-position-y: -757px;
  color: #282c32;
}

.confetti_div {
  position: absolute;
  top: -250px;
  left: -2rem;
  width: 100vw;
  height: 300px;
}

#subscribe_form {
  position: relative;
}

@media (min-width: 768px) {
  #subscribe_form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #subscribe_form > div {
    width: 100%;
  }

  .inspirate_cta_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }

  .inspirate_cta_div button {
    width: 100% !important;
    height: 30px;
    font-size: 12px !important;
    background: #282c32 !important;
    color: #fff !important;
  }

  .inspirate_cta_div button:nth-child(2) {
    margin-top: 0.9rem;
  }

  .inspirate_email input {
    margin-top: 0;
  }
}