.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 3rem 0 3rem;
  margin-bottom: 350px;
}

.jimena {
  position: fixed;
  font-family: "Anton";
  text-align: center;
  font-size: 19.5vw;
  font-weight: 100;
  letter-spacing: -5px;
}

.jimena_surname {
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.jimena_name {
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//HERO

.hero {
  width: 100%;
  height: 100dvh;
  padding-bottom: 19dvh;
  font-family: "Moderat-Reg";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: transparent;
}

.hero > div {
  display: flex;
  justify-content: space-between;
}

//HERO TOP

.hero_top > * {
  width: 33.33%;
  min-width: 33.33%;
}

.hero_top > p {
  text-align: center;
  margin: 0.25vh auto 0 auto;
  font-family: 'Baskerville-Light';
  font-style: italic;
  font-weight: 400;
  letter-spacing: -1.5px;
  font-size: 2.1vw;
}

.links {
  width: fit-content;
  display: flex;
  flex-direction: column;
  letter-spacing: -1px;
}

.hero_top > div:last-child {
  display: flex;
  justify-content: flex-end;
}

.hero_top .contacto {
  background: url("../public/PSICODELICO.jpeg");
  background-size: 2000%;
  border: 1px solid var(--main-black);
  border-radius: 60px;
  height: fit-content;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  animation: backgroundMoving 10s infinite;
  font-size: 1.1vw;
  opacity: 0.9;
  font-family: "Moderat-Reg";
}

@keyframes backgroundMoving {
  0% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
  50% {
    background-position-y: -300px;
    background-position-x: -100px;
  }
  100% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
}

//HERO BOTTOM

.hero_bottom {
  align-items: end;
}

.scroll {
  margin-bottom: -10px;
  text-align: center;
  font-family: 'Baskerville-Light';
  font-style: italic;
  font-weight: 400;
  letter-spacing: -1.5px;
  font-size: 1.85vw;
}

.scroll div {
  height: 60px;
  overflow: hidden;
}

.scroll div > p {
  display: inline-block;
  height: auto;
  animation: arrowDown 2s infinite;
  font-family: 'Moderat-Reg';
  font-style: normal;
  font-size: 1vw;
}

@keyframes arrowDown {
  0% {
    transform: translateY(-150%) rotate(90deg);
  }
  100% {
    transform: translateY(0%) rotate(90deg);
  }
}

.text {
  width: 12%;
  font-family: 'Baskerville-Light';
  font-style: italic;
  letter-spacing: -3px;
  font-size: 2.75vw;
  line-height: 6dvh;
  margin-bottom: 12px;
}

.hero > img {
  position: absolute;
  bottom: 7dvh;
  left: 50.5%;
  transform: translateX(-50%);
  filter: grayscale(100%);
}

//METODOLOGIA

.metodologia {
  width: 100%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.metodologia h5 {
  font-size: 1.7vw;
  letter-spacing: 1.4px;
  width: 50%;
  font-weight: 100;
  font-family: "Editorial-light";
  text-transform: uppercase;
  position: relative;
  z-index: 100;
  margin-bottom: 80px;
}

.metodologia > div > p {
  width: 47%;
  font-size: 1.7vw;
  font-family: "Moderat-Light";
  font-weight: 100;
  margin-bottom: 80px;
  z-index: 1;
}

.highlight {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.highlighter {
  position: absolute;
  height: 100%;
  width: 0%;
  margin: 0 auto;
  content: "";
  left: 0;
  background: url("../public/GRADIENTE_AURA.jpeg");
  background-size: 730%;
  background-position-y: 2360px;
  background-position-x: -260px;
  bottom: -0.1vh;
  z-index: -1;
  opacity: 0.45;
}

.metodologia .cinta_transportadora {
  width: 100vw;
  margin-left: -3rem;
  white-space: nowrap;
  padding: 1rem 3rem;
  background: var(--main-black);
  font-size: 15px !important;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  margin: 120px 0 5px -3rem;
}

.metodologia .cinta_transportadora > p {
  font-family: "Editorial-Light";
  color: var(--main-white);
  font-size: 2.5vw;
  display: inline-block;
  animation: scrollText 30s infinite linear;
}

.metodologia .cinta_transportadora > p > .emoji {
  font-size: 2vw;
  margin: 0 12px;
}

.metodologia .cinta_transportadora > p > .keyword > .emoji {
  font-size: 2vw;
  margin-left: 12px;
}

.metodologia .cinta_transportadora > p > .keyword {
  font-family: "Editorial-reg";
  border: 1px solid var(--main-white);
  border-radius: 24px;
  padding: 0 24px;
  margin-right: 8px;
  font-size: 2.3vw;
  display: inline-flex;
  align-items: center;
}

.metodologia .cinta_transportadora_2 {
  width: 100vw;
  margin-left: -3rem;
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem 3rem;
  background: var(--main-black);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  color: var(--main-white);
  font-size: 15px !important;
}

.metodologia .cinta_transportadora_2 > p {
  font-family: "Editorial-Light";
  color: var(--main-white);
  font-size: 2.5vw;
  display: inline-block;
  animation: scrollText 35s infinite linear;
}

.metodologia .cinta_transportadora_2 > p > .emoji {
  font-size: 2vw;
  margin: 0 12px;
}

.metodologia .cinta_transportadora_2 > p > .keyword > .emoji {
  font-size: 2vw;
  margin-left: 12px;
}

.metodologia .cinta_transportadora_2 > p > .keyword {
  font-family: "Editorial-reg";
  border: 1px solid var(--main-white);
  border-radius: 24px;
  padding: 0 24px;
  margin-right: 8px;
  font-size: 2.3vw;
  display: inline-flex;
  align-items: center;
}

.metodologia > div:nth-child(3) > div:nth-child(2) {
  margin-top: 30px;
}

.metodologia div:nth-child(3) > div:nth-child(2) > p {
  animation: scrollText 20s infinite linear;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

//EXPERIENCIA

.experiencia {
  margin: 120px 0 80px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.experiencia h5 {
  font-size: 1.7vw;
  letter-spacing: 1.4px;
  width: 100%;
  font-family: "Editorial-light";
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 80px;
  z-index: 100;
}

.experiencia > div {
  width: 100%;
  display: flex;
}

.experiencia > div > .left {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.experiencia > div > .left > div {
  width: 100%;
  display: flex;
  margin-bottom: 80px;
}

.experiencia > div > .left > div > p:nth-child(1) {
  font-family: "Moderat-Light";
  margin-top: auto;
  font-size: 1.6vw;
  z-index: 1;
}

.experiencia > div > .left > div > p:nth-child(1) > span {
  position: relative;
}

.experiencia > div > .left > div > p:nth-child(1) > span:after {
  position: absolute;
  height: 25px;
  margin: 0 auto;
  content: "";
  left: 0;
  right: 0;
  background: url("../public/GRADIENTE_AURA.jpeg");
  background-size: 900%;
  background-position-y: 560px;
  bottom: -0.2vw;
  z-index: -1;
  opacity: 0.55;
}

.experiencia .hablemos {
  background: url("../public/PSICODELICO.jpeg");
  background-size: 2000%;
  border: 1px solid var(--main-black);
  border-radius: 60px;
  height: fit-content;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  animation: backgroundMoving 10s infinite;
  font-size: 1.1vw;
  opacity: 0.9;
  font-family: "Moderat-Reg";
}

// COMPANIES LOGOS

.companies_logos {
  position: fixed;
  top: 100px;
  right: 3rem;
  width: 50vw;
  height: 70dvh;
  visibility: hidden;
  transition: opacity 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 100;
}

//SERVICIOS

.servicios {
  margin-top: 0px;
  padding-bottom: 40dvh;
  display: flex;
  flex-direction: column;
  font-family: "Moderat-Light";
  height: 380dvh;
}

.servicios h5 {
  font-size: 1.5vw;
  width: 35%;
  font-weight: 100;
  font-family: "Moderat-Reg";
  text-transform: uppercase;
  margin-bottom: 6px;
  z-index: 100;
}

.servicios > h5 {
  font-size: 1.7vw;
  letter-spacing: 1.4px;
  width: 40%;
  font-weight: 100;
  font-family: "Editorial-light";
  text-transform: uppercase;
  margin-bottom: 6px;
  z-index: 100;
}

.servicios_main {
  width: 92.5vw;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.servicios_main > div:first-child {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

//CONTACTO
.contact_form {
  position: fixed;
  height: 100dvh;
  width: 100vw;
  z-index: 300;
  top: 100dvh;
  transform: translateX(-50%);
  transform: scale(0);
}

.contact_form_backpaper {
  background: url("../public/GRADIENTE_AURA.jpeg");
  background-size: 100vw;
  background-position-y: calc(5dvh - 1350px);
  width: 100vw;
  height: 100dvh;
  position: absolute;
}

.contact_form_main {
  background: var(--main-white);
  width: 92.5%;
  height: 82.5%;
  position: absolute;
  top: 50dvh;
  left: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  padding-right: 4rem;
  transform: scale(0);
}

.contact_form_main > div:last-child {
  width: 50%;
}

.contact_form_data {
  width: 40%;
  font-family: "Moderat-Reg";
  padding-top: 0.5rem;
}

.contact_form_data > h5 {
  margin-bottom: 2rem;
  letter-spacing: 1.4px;
  font-size: 1.7vw;
  font-family: "Editorial-light";
}

.contact_form_data p,
.contact_form_data a {
  font-size: 1vw;
  opacity: 0.7;
  margin-bottom: 0.5rem;
}

.contact_form_data > div {
  width: 70%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contact_form_data .top > p {
  margin-bottom: 12px;
}

.footer_home {
  width: 100vw;
  height: 0;
  max-height: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 300;
  overflow: hidden;
}

/* RESPONSIVE MOBILE */

@media (max-width: 489px) {
}

/* RESPONSIVE TABLET */

@media (min-width: 490px) and (max-width: 1024px) {
}
