.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 3rem 0 3rem;
  margin-bottom: 350px;
}

.jimena {
  position: fixed;
  font-family: "Editorial-Light";
  text-align: center;
  font-size: 16vw;
  font-weight: 100;
  line-height: 28dvh;
}

.jimena_surname {
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.jimena_name {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

//HERO

.hero {
  width: 100%;
  height: 81dvh;
  font-family: "Moderat-Reg";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: transparent;
}

.hero > div {
  display: flex;
  justify-content: space-between;
}

//HERO TOP

.hero_top > p {
  width: auto;
  text-align: center;
  margin-top: 2.5vw;
}

.links {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.hero_top .contacto {
  background: url("../public/PSICODELICO.jpeg");
  border: 1px solid var(--main-black);
  border-radius: 60px;
  height: fit-content;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  animation: backgroundMoving 10s infinite;
  font-size: 1.1vw;
}

@keyframes backgroundMoving {
  0% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
  50% {
    background-position-y: -300px;
    background-position-x: -100px;
  }
  100% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
}

//HERO BOTTOM

.hero_bottom {
  align-items: end;
}

.scroll {
  text-align: center;
}

.text {
  width: 16%;
  text-align: end;
  font-size: 1vw;
  text-transform: uppercase;
}

.hero > img {
  position: absolute;
  bottom: -14dvh;
  left: 53%;
  transform: translateX(-50%);
  filter: grayscale(100%);
}

//METODOLOGIA

.metodologia {
  height: 100vh;
}

/* RESPONSIVE MOBILE */

@media (max-width: 489px) {
}

/* RESPONSIVE TABLET */

@media (min-width: 490px) and (max-width: 1024px) {
}
