.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 3rem;
  padding-bottom: 0;
}

/* KEYWORDS SECTION */

.keywords {
  width: 100dvw;
  height: fit-content;
  white-space: nowrap;
  padding: 1rem;
  background-image: url("../public/PSICODELICO.jpeg");
  background-position-x: -100px;
  background-position-y: 100px;
}

.text_1 {
  display: inline-block;
  /* Apply animation to this element */
  animation: scrolling-left1 20s linear infinite;
}

.text_2 {
  display: inline-block;
  /* Apply animation to this element */
  animation: scrolling-left2 20s linear infinite;
  animation-delay: 10s;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(-202%);
  }
}

/* SERVICIOS SECTION */

.inspirate {
  padding: 2rem;
  font-weight: 200;
  font-size: 15px;
}

.inspirate h3 {
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.inspirate > p > span {
  font-family: 'Inter-italic';
}

.servicios {
  padding: 2rem;
  padding-top: 0;
  font-weight: 200;
  font-size: 15px;
  width: 100dvw;
}

.servicios h3 {
  font-size: 18px;
}

.servicio {
  margin-bottom: 1.5rem;
}

.servicio > div > div:nth-child(1) {
  margin-top: 1.5rem;
}

.servicio:nth-child(4) h3 {
  margin-bottom: 1rem;
}

