.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 3rem;
  padding-bottom: 0;
  margin-bottom: 39dvh;
}

/* KEYWORDS SECTION */

.keywords {
  width: 100dvw;
  height: fit-content;
  white-space: nowrap;
  padding: 1rem;
  background-image: url("../public/PSICODELICO.jpeg");
  background-position-x: -100px;
  background-position-y: 100px;
}

.text_1 {
  display: inline-block;
  /* Apply animation to this element */
  animation: scrolling-left1 20s linear infinite;
}

.text_2 {
  display: inline-block;
  /* Apply animation to this element */
  animation: scrolling-left2 20s linear infinite;
  animation-delay: 10s;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(-202%);
  }
}

/* SERVICIOS SECTION */

.inspirate {
  padding: 2rem;
  font-weight: 200;
  font-size: 15px;
}

.inspirate h3 {
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.inspirate > p > span {
  font-family: 'Inter-italic';
}

.servicios {
  padding: 2rem;
  padding-top: 0;
  font-weight: 200;
  font-size: 15px;
  width: 100dvw;
}

.servicios h3 {
  font-size: 18px;
}

.servicio {
  margin-bottom: 1.5rem;
}

.servicio > div > div:nth-child(1) {
  margin-top: 1.5rem;
}

.servicio:nth-child(4) h3 {
  margin-bottom: 1rem;
}

.inspirate_cada_mes {
  padding: 2rem;
  padding-top: 0;
  font-weight: 200;
  font-size: 15px;
}

.inspirate_cada_mes h3 {
  margin-bottom: 1rem;
  font-size: 18px;
}

.inspirate_cada_mes p {
  width: 80dvw;
  line-height: 1.3;
}

.inspirate_cada_mes p span {
  font-family: 'Inter-italic';
}

.inspirate_cta_div {
  width: 83dvw;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.inspirate_cta_div button {
  margin-top: 1rem;
  border: none;
  padding: 8px 10px;
  font-size: 15px;
  width: 49%;
  text-align: center;
  background: transparent;
  font-weight: 400;
  color: #fff;
  background-color: #282c32;
  font-weight: 400;
  font-size: 14px;
}

.inspirate_cta_div > button:nth-child(1) {
  width: 42%;
  background: url("../public/PSICODELICO.jpeg");
  background-position-x: -2rem;
  background-position-y: 0;
  color: #282c32;
}

.inspirate_cta_div > button:nth-child(2) {
  width: 52%;
  background: url("../public/PSICODELICO.jpeg");
  background-position-x: calc(-140px - 2rem);
  background-position-y: 0;
  color: #282c32;
}
