.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 3rem 0 3rem;
  margin-bottom: 350px;
}

.jimena {
  position: fixed;
  font-family: "Editorial-Light";
  text-align: center;
  font-size: 16vw;
  font-weight: 100;
  line-height: 28dvh;
}

.jimena_surname {
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.jimena_name {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

//HERO

.hero {
  width: 100%;
  height: 100dvh;
  padding-bottom: 19dvh;
  font-family: "Moderat-Reg";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: transparent;
}

.hero > div {
  display: flex;
  justify-content: space-between;
}

//HERO TOP

.hero_top > * {
  width: 33.33%;
  min-width: 33.33%;
}

.hero_top > p {
  text-align: center;
  margin: 2vw auto 0 auto;
}

.links {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.hero_top > div:last-child {
  display: flex;
  justify-content: flex-end;
}

.hero_top .contacto {
  background: url("../public/PSICODELICO.jpeg");
  border: 1px solid var(--main-black);
  border-radius: 60px;
  height: fit-content;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  animation: backgroundMoving 10s infinite;
  font-size: 1.1vw;
  opacity: 0.9;
}

@keyframes backgroundMoving {
  0% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
  50% {
    background-position-y: -300px;
    background-position-x: -100px;
  }
  100% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
}

//HERO BOTTOM

.hero_bottom {
  align-items: end;
}

.scroll {
  text-align: center;
}

.text {
  width: 16%;
  text-align: end;
  font-size: 1.11vw;
  text-transform: uppercase;
}

.hero > img {
  position: absolute;
  bottom: 7dvh;
  left: 50.5%;
  transform: translateX(-50%);
  filter: grayscale(100%);
}

//METODOLOGIA

.metodologia {
  margin-top: 200px;
  height: 80dvh;
  display: flex;
  justify-content: space-between;
}

.metodologia > h5 {
  font-size: 1.5vw;
  width: 30%;
  font-weight: 100;
  font-family: "Moderat-Reg";
  text-transform: uppercase;
  position: relative;
  z-index: 100;
}

.metodologia > p {
  width: 33%;
  font-size: 1.5vw;
  font-family: "Moderat-Light";
  font-weight: 100;
}

.metodologia > p:nth-child(2) {
  text-align: center;
  align-self: center;
  margin-bottom: 80px;
}

.metodologia > p:nth-child(3) {
  text-align: end;
  align-self: end;
}

//EXPERIENCIA

.experiencia {
  margin-top: 150px;
  height: 330dvh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.experiencia h5 {
  font-size: 1.5vw;
  width: 100%;
  font-weight: 100;
  font-family: "Moderat-Reg";
  text-transform: uppercase;
  margin-bottom: 6px;
  z-index: 100;
}

.experiencia > .left {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 200px;
}

.experiencia > .left > div {
  width: 30%;
  height: 80dvh;
  display: flex;
}

.experiencia > .left > div > p:nth-child(1) {
  font-family: "Moderat-Light";
  margin-top: auto;
  font-size: 1.6vw;
  z-index: 1;
}

.experiencia > .left > div > p:nth-child(1) > span {
  position: relative;
}

.experiencia > .left > div > p:nth-child(1) > span:after {
  position: absolute;
  height: 25px;
  margin: 0 auto;
  content: "";
  left: 0;
  right: 0;
  background: url("../public/GRADIENTE_AURA.jpeg");
  background-size: 130%;
  background-position-y: 560px;
  bottom: -0.2vw;
  z-index: -1;
  animation: highlight 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
  opacity: 0.75;
  border-radius: 6px;
}

@keyframes highlight {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 100%;
  }
}

.experiencia .right {
  position: relative;
  width: 50%;
  height: 80vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-self: flex-end;
  margin-bottom: -35px;
}

.experiencia > .right > img {
  filter: grayscale(100%);
  opacity: 0.8;
  justify-self: center;
  align-self: center;
}

.experiencia > .right > .logo1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.experiencia > .right > .logo2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.experiencia > .right > .logo3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.experiencia > .right > .logo4 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.experiencia > .right > .logo5 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.experiencia > .right > .logo6 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.experiencia > .right > .logo7 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.experiencia > .right > .logo8 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.experiencia > .right > .logo9 {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

//SERVICIOS

.servicios {
  margin-top: 0px;
  padding-bottom: 40dvh;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: "Moderat-Light";
}

.servicios h5 {
  font-size: 1.5vw;
  width: 35%;
  font-weight: 100;
  font-family: "Moderat-Reg";
  text-transform: uppercase;
  margin-bottom: 6px;
  z-index: 100;
}

.servicios_main {
  width: 92.5vw;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.servicios_main > div:first-child {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

//CONTACTO
.contact_form {
  position: fixed;
  height: 100dvh;
  width: 100vw;
  z-index: 300;
  top: 100dvh;
  transform: translateX(-50%);
  transform: scale(0);
  overflow: hidden;
}

.contact_form_backpaper {
  background: url("../public/GRADIENTE_AURA.jpeg");
  background-size: 100vw;
  background-position-y: calc(5dvh - 1350px);
  width: 100vw;
  height: 100dvh;
  position: absolute;
}

.contact_form_main {
  background: var(--main-white);
  width: 92.5%;
  height: 82.5%;
  position: absolute;
  top: 50dvh;
  left: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  padding-right: 4rem;
  transform: scale(0);
}

.contact_form_data {
  width: 60%;
  font-family: "Moderat-Reg";
  padding-top: 1rem;
}

.contact_form_data > h5 {
  margin-bottom: 4rem;
  font-size: 1.3vw;
}

.contact_form_data > p {
  font-size: 1vw;
}

/* RESPONSIVE MOBILE */

@media (max-width: 489px) {
}

/* RESPONSIVE TABLET */

@media (min-width: 490px) and (max-width: 1024px) {
}
