.me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 3rem;
  padding-bottom: 0;
  margin-bottom: 330px;
}

.explora_con_bso img {
  width: 20px;
  height: 20px;
}

.explora_con_bso,
.mi_esencia > div {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-image: url("../public/GRADIENTE_AURA.jpeg");
  background-position-x: -50px;
  background-position-y: -700px;
  margin-bottom: 2rem;
}

.me .ondas {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  height: 20px;
  --boxSize: 8px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 8);
}

.me .ondas > div {
  height: 15px;
  width: 3px;
  background-color: #282c32;
  margin-right: 2px;
  transform: scaleY(0.4);
  height: 100%;
  width: var(--boxSize);
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.me .ondas > div:nth-child(2) {
  animation-delay: 0.2s;
  transform: scaleY(0.9);
}
.me .ondas > div:nth-child(4) {
  animation-delay: 2.4s;
  transform: scaleY(0.3);
}
.me .ondas > div:nth-child(6) {
  animation-delay: 4.7s;
  transform: scaleY(0.6);
}
.me .ondas > div:nth-child(7) {
  animation-delay: 3.1s;
}
.me .ondas > div:nth-child(8) {
  animation-delay: 0.3s;
  transform: scaleY(1);
}
.me .ondas > div:nth-child(9) {
  animation-delay: 4.5s;
  transform: scaleY(0.4);
}
.me .ondas > div:nth-child(10) {
  animation-delay: 0.6s;
  transform: scaleY(0.9);
}
.me .ondas > div:nth-child(11) {
  animation-delay: 4.2s;
  transform: scaleY(0.5);
}
.me .ondas > div:nth-child(12) {
  animation-delay: 1.1s;
  transform: scaleY(0.2);
}
.me .ondas > div:nth-child(14) {
  animation-delay: 4.3s;
  transform: scaleY(0.1);
}
.me .ondas > div:nth-child(10) {
  animation-delay: 0.2s;
}
.me .ondas > div:nth-child(16) {
  animation-delay: 4.2s;
  transform: scaleY(1);
}
.me .ondas > div:nth-child(17) {
  animation-delay: 0.9s;
  transform: scaleY(0.4);
}
.me .ondas > div:nth-child(18) {
  animation-delay: 4.3s;
  transform: scaleY(0.2);
}
.me .ondas > div:nth-child(19) {
  animation-delay: 0.4s;
  transform: scaleY(0.8);
}
.me .ondas > div:nth-child(20) {
  animation-delay: 0.2s;
  transform: scaleY(0.6);
}

/* ANIMACION ONDAS */

@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.6);
  }
}
@keyframes loud {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(1.2);
  }
}

.onda1,
.onda6,
.onda11,
.onda16 {
  animation-name: quiet;
}

.onda2,
.onda7,
.onda12,
.onda17 {
  animation-name: normal;
}

.onda3,
.onda7,
.onda13,
.onda18 {
  animation-name: quiet;
}

.onda4,
.onda8,
.onda14,
.onda19 {
  animation-name: loud;
}

.onda5 {
  animation-name: quiet;
}

/* ANIMACION ONDAS */

/* ANIMACION MOVIMIENTO LATERAL */

.div1 {
  display: inline-block;
  animation: scrollText 10s infinite linear;
}

.div2 {
  display: inline-block;
  animation: scrollText 10s infinite linear;
}

.explora_con_bso .espacio {
  margin-right: 12px;
}

.mi_esencia .espacio {
  margin-right: 4px;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* ANIMACION MOVIMIENTO LATERAL */

.div1,
.div2 {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.div1 > *,
.div2 > * {
  margin-right: 15px;
}

.me .bullets {
  padding: 2rem;
  padding-top: 0;
  font-weight: 200;
  font-size: 15px;
  width: 100dvw;
}

.me .bullets p {
  line-height: 1.3;
}

.me .mi_esencia h3 {
  padding: 2rem;
  padding-top: 0;
  padding-bottom: 0.5rem;
}

.mi_esencia > div {
  white-space: nowrap;
  background-position-x: -50px;
  background-position-y: -733px;
  padding: 1.25rem;
}

.mi_esencia p {
  font-size: 15px !important;
  font-weight: 400;
}

.me .bullets > h3,
.me .mi_esencia h3 {
  margin-bottom: 0.75rem;
  font-size: 18px;
}

.me .expertise {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.75rem;
}

.me .expertise > p {
  width: fit-content;
  border-radius: 9px;
  padding: 3px 10px;
  font-size: 13px;
  font-weight: 700;
  margin-right: 8px;
  margin-top: 5px;
  background: url("../public/GRADIENTE_AURA.jpeg");
  background-position: 0 0;
}

.me .expertise > p:nth-child(1) {
  background-position-x: -32px;
  background-position-y: -839px;
}

.me .expertise > p:nth-child(2) {
  background-position-x: -132px;
  background-position-y: -839px;
}

.me .expertise > p:nth-child(3) {
  background-position-x: -194px;
  background-position-y: -839px;
}

.me .expertise > p:nth-child(4) {
  background-position-x: -32px;
  background-position-y: -867px;
}

.me .expertise > p:nth-child(5) {
  background-position-x: -132px;
  background-position-y: -867px;
}

.me .expertise > p:nth-child(6) {
  background-position-x: -233px;
  background-position-y: -867px;
}

.me .expertise > p:nth-child(7) {
  background-position-x: -32px;
  background-position-y: -895px;
}

.me .expertise > p:nth-child(8) {
  background-position-x: -163px;
  background-position-y: -895px;
}

.me .expertise > p:nth-child(9) {
  background-position-x: -32px;
  background-position-y: -923px;
}

.me .expertise > p:nth-child(10) {
  background-position-x: -152px;
  background-position-y: -923px;
}
.me .expertise > p:nth-child(11) {
  background-position-x: -32px;
  background-position-y: -951px;
}
.me .expertise > p:nth-child(12) {
  background-position-x: -158px;
  background-position-y: -951px;
}
.me .expertise > p:nth-child(13) {
  background-position-x: -32px;
  background-position-y: -979px;
}
.me .expertise > p:nth-child(14) {
  background-position-x: -183px;
  background-position-y: -979px;
}
.me .expertise > p:nth-child(15) {
  background-position-x: -250px;
  background-position-y: -979px;
}
.me .expertise > p:nth-child(16) {
  background-position-x: -32px;
  background-position-y: -1007px;
}
.me .expertise > p:nth-child(17) {
  background-position-x: -183px;
  background-position-y: -1007px;
}
.me .expertise > p:nth-child(18) {
  background-position-x: -32px;
  background-position-y: -1035px;
}
.me .expertise > p:nth-child(19) {
  background-position-x: -148px;
  background-position-y: -1035px;
}

.me .expertise > p:nth-child(20) {
  background-position-x: -279px;
  background-position-y: -1035px;
}

.me .laboral_text {
  margin-bottom: 1rem;
}

.me .laboral_text a {
  font-weight: 400;
  text-decoration: underline 0.5px #282c32;
  text-underline-offset: 2.5px;
}

.inspirate_cada_mes {
  padding: 2rem;
  padding-top: 0;
  font-weight: 200;
  font-size: 15px;
}

.inspirate_cada_mes h3 {
  margin-bottom: 1rem;
  font-size: 18px;
}

.inspirate_cada_mes p {
  width: 80dvw;
  line-height: 1.3;
}

.inspirate_cada_mes p span {
  font-family: "Inter-italic";
}

.inspirate_cta_div {
  width: 83dvw;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.inspirate_cta_div button {
  margin-top: 1rem;
  border: none;
  padding: 8px 10px;
  font-size: 15px;
  text-align: center;
  background: transparent;
  font-weight: 400;
  color: #fff;
  background-color: #282c32;
  font-weight: 400;
  font-size: 14px;
}

.inspirate_cta_div > button:nth-child(1) {
  width: 44%;
  background: url("../public/GRADIENTE_AURA.jpeg");
  background-position-x: -247px;
  background-position-y: -757px;
  color: #282c32;
}

.inspirate_cta_div > button:nth-child(2) {
  width: 50%;
  background: url("../public/GRADIENTE_AURA.jpeg");
  background-position-x: -409px;
  background-position-y: -757px;
  color: #282c32;
}

@media (min-width: 768px) {
  .explora_con_bso,
  .mi_esencia > div {
    width: 100vw;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: 0px;
  }

  .div1 {
    animation: scrollText 20s infinite linear;
  }

  .div2 {
    animation: scrollText 20s infinite linear;
  }

  .explora_con_bso img {
    cursor: pointer;
  }

  .mi_esencia > div {
    background-position-y: -400px;
  }

  .inspirate_cada_mes {
    width: 60vw;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .inspirate_cada_mes > div {
    width: 50%;
  }

  .inspirate_cada_mes > div > p {
    width: 110%;
  }

  .inspirate_cada_mes div > p:nth-child(2) {
    margin-bottom: 10px;
  }

  .bullets_desktop_wrapper {
    width: 60vw;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .me .bullets_desktop_wrapper .bullets {
    width: 55%;
    padding: 2rem 0;
    padding-top: 0;
    font-weight: 200;
    font-size: 15px;
  }

  .me .bullets_desktop_wrapper .bullets:nth-child(2) {
    width: 30%;
  }

  .me .mi_esencia > h3 {
    width: 61.5vw;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 0.75rem;
    padding-left: 0;
    padding-right: 0;
    margin-top: 1rem;
  }

  .me .bullets_desktop_wrapper.historia_wrapper {
    width: 60.5vw;
    margin-top: 1.25rem;
  }

  .me .bullets_desktop_wrapper.historia_wrapper > .bullets {
    width: 55%;
    padding: 0;
  }

  .me .bullets_desktop_wrapper.historia_wrapper > div {
    width: 30%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .me .bullets_desktop_wrapper.historia_wrapper > div > .bullets {
    width: 120%;
  }

  .me .bullets_desktop_wrapper.historia_wrapper > div > .bullets:nth-child(2) {
    margin-top: 1rem;
  }

  .me .bullets_desktop_wrapper > .bullets:nth-child(2) > p {
    margin-bottom: 0.5rem;
  }

  .me .expertise > p {
    transition: scale 2s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  .me .expertise > p:nth-child(1) {
    background-position-x: -770px;
    background-position-y: -486px;
  }

  .me .expertise > p:nth-child(2) {
    background-position-x: -868px;
    background-position-y: -486px;
  }

  .me .expertise > p:nth-child(3) {
    background-position-x: -770px;
    background-position-y: -508px;
  }

  .me .expertise > p:nth-child(4) {
    background-position-x: -900px;
    background-position-y: -508px;
  }

  .me .expertise > p:nth-child(5) {
    background-position-x: -770px;
    background-position-y: -530px;
  }

  .me .expertise > p:nth-child(6) {
    background-position-x: -861px;
    background-position-y: -530px;
  }

  .me .expertise > p:nth-child(7) {
    background-position-x: -770px;
    background-position-y: -555px;
  }

  .me .expertise > p:nth-child(8) {
    background-position-x: -900px;
    background-position-y: -555px;
  }

  .me .expertise > p:nth-child(9) {
    background-position-x: -770px;
    background-position-y: -577px;
  }

  .me .expertise > p:nth-child(10) {
    background-position-x: -858px;
    background-position-y: -577px;
  }
  .me .expertise > p:nth-child(11) {
    background-position-x: -770px;
    background-position-y: -599px;
  }
  .me .expertise > p:nth-child(12) {
    background-position-x: -886px;
    background-position-y: -599px;
  }
  .me .expertise > p:nth-child(13) {
    background-position-x: -770px;
    background-position-y: -621px;
  }
  .me .expertise > p:nth-child(14) {
    background-position-x: -911px;
    background-position-y: -621px;
  }
  .me .expertise > p:nth-child(15) {
    background-position-x: -770px;
    background-position-y: -643px;
  }
  .me .expertise > p:nth-child(16) {
    background-position-x: -852px;
    background-position-y: -643px;
  }
  .me .expertise > p:nth-child(17) {
    background-position-x: -770px;
    background-position-y: -665px;
  }
  .me .expertise > p:nth-child(18) {
    background-position-x: -860px;
    background-position-y: -665px;
  }
  .me .expertise > p:nth-child(19) {
    background-position-x: -770px;
    background-position-y: -687px;
  }

  .me .expertise > p:nth-child(20) {
    background-position-x: -891px;
    background-position-y: -687px;
  }
}
